*.sdf
*.suo
*.filters
*.user
*.obj
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.exe
*.opensdf
*.sln


*.vcxproj
*.unsuccessfulbuild
*.dll
.vscode/settings.json
*.json
*.pbxproj
*.xcworkspacedata
*.plist
*.xcuserstate
*.plist
ABCModelSelection/ABCModelSelection/Dockerfile
ABCModelSelection/ABCModelSelection/ABCModelSelection
ABCModelSelection/ABCModelSelection.xcodeproj/*
Alternative-versions/LSQFitCase/*
