*.sdf
*.suo
*.filters
*.user
*.obj
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.exe
ABCModelComparison/LSQFitCase/*
ABCModelComparison/Debug/*
ABCModelComparison/Release/*
ABCModelComparison/ProcessMBWData/fixed_timestep_models.h
ABCModelComparison/ProcessMBWData/dynamic_timestep_models.cpp
ABCModelComparison/ProcessMBWData/dynamic_timestep_models.h
*.opensdf
*.sln


*.vcxproj
*.unsuccessfulbuild
*.dll
